 #root{
  background-color: black;
  margin-top: -15%;
  height:100%;
  padding-bottom:50%
}
.homeDiv{
  background-image: url("./img/blue.gif");
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30%;
  background-size:100%;
  margin-top:18%;
  padding-bottom: 60%;
}
.chordDiv{
  margin-top:20px;
  border:1px solid black;
  width: 80%;
  margin:0 auto;
  margin-bottom:5%;
  background-color:rgb(36, 91, 232);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:10%
}
.form{
  padding-bottom:10%;
}
.header{
  color:rgb(250, 0, 0);
  margin-top:10%;
  font-size:3rem;
  text-align: center;
  margin-top: 20%;
}
.bodyDiv{
  margin-top:10%;
}
.paraOne{
  color:rgb(245, 5, 5);
  margin-top:-10%;
  font-size: 2rem;
  text-align: center;

}
.para2{
  color:rgb(39, 62, 232);
  font-size: 2rem;
  text-align: center;
}
.link{
  color:rgb(224, 18, 18);
  font-size: 2rem;
  text-align: center;
}


.chordHeader{
  color:rgb(56, 183, 233);
  margin-top:10%;
  font-size:5rem;
  background-color:rgb(26, 24, 24);
  border-radius:20%;
  border:1px solid grey;
  text-align: center;
}
.input{
  padding: 5% 25%;
  text-align: center;
  border:5px solid rgb(238, 15, 15);
  border-radius: 20%;
}

.form{
  display:flex;
  flex-direction:column;
  width:40%;
  margin:0 auto;
  align-items: center;
  
  
}
.btn{
  margin-top:5%;
  font-size:1rem;
  background-color: rgb(56, 183, 233);
  color:black;
  padding:3px 20px;
  box-shadow: '0 1px 5px 5px rgb(0, 0, 100)',
}
.search{
  color:rgb(143, 150, 150);
  padding: 20%;
}
.label{
  font-size:2rem;
  font-style: italic;
}
.data{
  font-weight: bold;
  font-size: larger;
  width: 1%;
  margin: 0 auto;
}
.contrast{
  background-color:rgb(160, 157, 157);
  width:40%;
  margin:0 auto;
  margin-bottom: 10px;
  border-radius:20%;
  border:4px solid red
}
.name{
  font-size:5rem;
  color:white
}
.about{
  color:white
}
.aboutHeader{
  color:white;
  font-size: x-large;
}
.VisualTab{
  box-sizing:border-box;
  background-color: rgb(247, 242, 242);
  border: 10px solid rgba(114, 66, 3, 0.344);
  display:flex;
  width: 18rem;
  flex-direction:row;
  flex-wrap: wrap;
  max-height: 22rem;
  max-width: 100%;
  margin:0 auto;
  margin-top: 20%;
}
.fret{
  box-sizing:border-box;
  padding-bottom: 10%;
  border:1px solid black;
  width:20%;
  max-height: 10px
}
.fretC{
  box-sizing:border-box;
  padding-bottom: 10%;
  border:1px solid black;
  width:20%;
  max-height:1rem
}
.fretB{
  box-sizing:border-box;
  border-top:1px solid black;
  width:20%;
  max-height:0rem
}
.indicator{
  border:.1rem solid rgb(219, 21, 21);
  border-radius:50%;
  text-align: center;
  padding:1%;
  width:40%;
  margin:0 auto;
  margin-top:-.7rem;
  background-color: rgb(255, 0, 0);}

  .indicatorOpen{
    border:.3rem solid rgb(24, 21, 219);
    border-radius:50%;
    width:10%;
    padding-bottom: 10%;
    margin:0 auto;
    margin-top:-.3rem;
   }
   .muted{
     margin-top: -.8em;
     font-size: 2rem;
     color:red
   }
   .note{
     color:rgb(237, 227, 227)
   }
   .Button{
     width:30%;
     margin-right:1%
   }
   .div{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 15%;
   }
   .MuiListItem-button{
     text-decoration: none;
   }
  .Visual{
    background:white;
    margin-top:1%;
    width:100%;
  }
  @media (max-width:900px){
    .label{
      font-size: 140%;
    }
  .chordHeader{
    font-size: 400%;
  }}
  @media (max-width:700px){
    .label{
      font-size: 140%;
    }
  .chordHeader{
    font-size: 300%;
    margin-top: 20%;
  }}
  @media (max-width:500px){
    .link{
      font-size:1rem
    }
    .chordHeader{
      font-size: 200%;
      margin-top: 20%;
    }
  }
  @media (max-width:450px){
 .label{
   font-size: 140%;
 }
 .search{
  font-size: 90%;
}
.VisualTab{
  max-width: 80%;
}}
@media (max-width:360px){
 .VisualTab{
   max-width: 60%;
 }
 .muted{
  font-size: 150%;
  margin-top: -.7em;
}
  }
  @media (max-width:330px){
    .chordHeader{
      font-size: 150%;
      margin-top: 50%;
    }

   }
  @media (max-width:260px){
    .label{
      font-size: 100%;
    }
    .VisualTab{
      max-width: 60%;
    }
    .chordDiv{
      width: 100%;
    }
    .chordHeader{
      font-size: 100%;
      margin-top: 50%;
    }
    .input{
      max-width: 100%;
    }
   
    .search{
      font-size: 70%;
    }
     }
 
     @media (max-width:200px){
       .input{
         max-width: 50%;
       }
      .label{
        font-size: 90%;
      }
      .name{
        font-size: 290%;
      }
      .VisualTab{
        max-width: 54%;
      }
      .chordDiv{
        border-radius: 3%;
      }
      .homeDiv{
       background-image: none;
       margin-top: 40%;
      }
      .chordHeader{
        font-size: 80%;
        margin-top: 50%;
      }
      .muted{
        font-size: 100%;
      }
      .indicator{
        border:.1rem solid rgb(219, 21, 21);
        border-radius:50%;
        text-align: center;
        padding:1%;
        width:40%;
        height: 15px;
        margin:0 auto;
        margin-top:-.7rem;
        background-color: rgb(255, 0, 0);
        font-size: 60%;
      }
      .search{
        font-size: 50%;
      }
     
       }